name: Automated acceptance tests

on: [push, pull_request]

jobs:
  test:
    name: Automated acceptance tests
    runs-on: ubuntu-22.04

    services:
      mariadb:
        image: mariadb:10
        env:
          MYSQL_USER: 'root'
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
          MYSQL_CHARACTER_SET_SERVER: "utf8mb4"
          MYSQL_COLLATION_SERVER: "utf8mb4_unicode_ci"
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 3

    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.0', '8.1']
        moodle-branch: ['MOODLE_39_STABLE', 'MOODLE_311_STABLE', 'MOODLE_400_STABLE', 'MOODLE_401_STABLE', 'MOODLE_402_STABLE', 'MOODLE_403_STABLE', 'MOODLE_404_STABLE', 'MOODLE_405_STABLE', 'main']
        database: [mariadb]
        exclude:
          - moodle-branch: 'MOODLE_39_STABLE'
            php: '8.0'
          - moodle-branch: 'MOODLE_39_STABLE'
            php: '8.1'
          - moodle-branch: 'MOODLE_311_STABLE'
            php: '8.1'
          - moodle-branch: 'MOODLE_400_STABLE'
            php: '8.1'
          - moodle-branch: 'MOODLE_402_STABLE'
            php: '7.4'
          - moodle-branch: 'MOODLE_403_STABLE'
            php: '7.4'
          - moodle-branch: 'MOODLE_404_STABLE'
            php: '7.4'
          - moodle-branch: 'MOODLE_404_STABLE'
            php: '8.0'
          - moodle-branch: 'MOODLE_405_STABLE'
            php: '7.4'
          - moodle-branch: 'MOODLE_405_STABLE'
            php: '8.0'
          - moodle-branch: 'main'
            php: '7.4'
          - moodle-branch: 'main'
            php: '8.0'
        include:
          - php: '8.2'
            moodle-branch: 'MOODLE_402_STABLE'
            database: 'mariadb'
          - php: '8.2'
            moodle-branch: 'MOODLE_403_STABLE'
            database: 'mariadb'
          - php: '8.2'
            moodle-branch: 'MOODLE_404_STABLE'
            database: 'mariadb'
          - php: '8.3'
            moodle-branch: 'MOODLE_404_STABLE'
            database: 'mariadb'
          - php: '8.2'
            moodle-branch: 'MOODLE_405_STABLE'
            database: 'mariadb'
          - php: '8.3'
            moodle-branch: 'MOODLE_405_STABLE'
            database: 'mariadb'
          - php: '8.2'
            moodle-branch: 'main'
            database: 'mariadb'
          - php: '8.3'
            moodle-branch: 'main'
            database: 'mariadb'

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          path: plugin

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: max_input_vars=5000
          coverage: none

      - name: Initialise moodle-plugin-ci
        run: |
          composer create-project -n --no-dev --prefer-dist moodlehq/moodle-plugin-ci ci ^4
          echo $(cd ci/bin; pwd) >> $GITHUB_PATH
          echo $(cd ci/vendor/bin; pwd) >> $GITHUB_PATH
          sudo locale-gen en_AU.UTF-8
          echo "NVM_DIR=$HOME/.nvm" >> $GITHUB_ENV

      - name: Install moodle-plugin-ci without app (3.9, 3.11, 4.0)
        if: ${{ contains(fromJSON('["MOODLE_39_STABLE", "MOODLE_311_STABLE", "MOODLE_400_STABLE"]'), matrix.moodle-branch) }}
        run: |
          moodle-plugin-ci add-plugin maths/moodle-qbehaviour_adaptivemultipart
          moodle-plugin-ci install --plugin ./plugin --db-host=127.0.0.1
        env:
          DB: ${{ matrix.database }}
          MOODLE_BRANCH: ${{ matrix.moodle-branch }}

      - name: Install moodle-plugin-ci
        if: ${{ !contains(fromJSON('["MOODLE_39_STABLE", "MOODLE_311_STABLE", "MOODLE_400_STABLE"]'), matrix.moodle-branch) }}
        run: |
          moodle-plugin-ci add-plugin maths/moodle-qbehaviour_adaptivemultipart
          moodle-plugin-ci install --plugin ./plugin --db-host=127.0.0.1
        env:
          DB: ${{ matrix.database }}
          MOODLE_BRANCH: ${{ matrix.moodle-branch }}
          MOODLE_APP: true

      - name: Behat features
        run: moodle-plugin-ci behat --auto-rerun 1 --profile chrome