name: PHP mess detector

on: [push, pull_request]

jobs:
  test:
    name: PHP mess detector
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        php: ['8.0', '8.1']

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: max_input_vars=5000
          coverage: none
          tools: phpmd

      - name: PHP Mess Detector
        continue-on-error: true
        run: phpmd . github cleancode,codesize,controversial,design,naming,unusedcode --baseline-file .phpmd/phpmd.baseline.xml
